@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.custom-select-control {
    appearance: none; /* Standar untuk Chrome, Safari */
    -moz-appearance: none; /* Untuk Firefox */
    -webkit-appearance: none; /* Untuk Safari/Chrome versi lama */
    background-image: none; /* Penting untuk beberapa browser */
}